<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div>
        <form method="POST">
            Sabor: <input type="text" name="sabor">
            Massa: <input type="text" name="massa">
            Tipo De borda: <input type="text" name="tipoDeBorda">
            Valor: <input type="number" step="0.01" name="valor">
            <button type="submit">Cadastrar Pizza </button>

        </form>
    </div>
<a href="/">Voltar ao menu</a>
    
</body>
</html>

